source_env ..
export PATH=$PWD/bin:$PATH

export BOSH_CA_CERT="$(bosh int "$BASE_DIR/state/base-env/depl-creds.yml" --path /default_ca/ca)"
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int "$BASE_DIR/state/base-env/depl-creds.yml" --path /admin_password)
export BOSH_GW_PRIVATE_KEY="$BASE_DIR/state/base-env/jumpbox.key"
