#!/usr/bin/env bash
PATH_add bin


# This is the classical all-in-one BOSH Lite environment.
#
# export GBE_ENVIRONMENT=ddbox-env


# The separated-garden-from-bosh setup is an alternative to the classical all-
# in-one BOSH-Lite environment. Here 'standalone-garden' is the first
# environment to 'gbe up'. The 10.244.0.0/16 route needs to be added using
# this GBE environment, with 'gbe routes', so you'd write:
#
#     GBE_ENVIRONMENT=ddbox-standalone-garden-env gbe routes
#
#
# export GBE_ENVIRONMENT=ddbox-standalone-garden-env

# This is the second environment to 'gbe up'. This is the one you need to
# 'source <(./bin/gbe env)', you you'll usually write:
#
#      source <(GBE_ENVIRONMENT=ddbox-standalone-bosh-env ./bin/gbe env)
#
#
export GBE_ENVIRONMENT=ddbox-standalone-bosh-env


export CF_HOME="${PWD}"
