/.cache/
/bin/bbl
/bin/terraform
/bin/bosh
/bin/dnscontrol
/bin/credhub
/bin/cf
/bin/humanize-manifest
/bin/fly
/bin/shield
/bin/spruce
/logs/
/tmp/
creds.yml
creds.json
*-creds.yml
*secrets.yml
private-config.yml
bbl-state.json
*.key
*.key.json
id_rsa
